*{
  box-sizing: border-box;
}

html{
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.Logo{
  display: block;
  margin: 50px auto;
}

.background{
  background-image:url('../images/gunung2.jpg');
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.subtitle{
  border: solid 2px;
  width: 35%;
  display: block;
  margin: 200px auto 0 auto;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 25px;
}

.grid-container {
  display: grid;
  grid-gap: 20px 5px;
  grid-template-columns: auto auto auto;
  align-items: center;
  margin: 25px auto 0 auto;

}

.grid-container img {
  align-items: center;
  height: 200px;
  width: 320px;
  display: block;
  margin: 0 auto;
}

.text-title {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  padding-left: 50px;
  height: 50px;
}

.text {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  padding:0 50px;
  margin-bottom: 50px;
  padding-top: 50px;
}

.title{
  font-family: 'Raleway', sans-serif;
  height: 100px;
  font-size: 40px;
  padding: 30px 20px;
  color: #636b6f;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

body{
  background: #f9f9f9;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.container{
  padding: 1em 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container{
    width: 33.33333%;
  }
}

.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 10;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 10;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}

.next{
  padding: 30px 42px;
}

form {
  width: 40%;
  margin-left: 60px;
}

.grid-container1{
  display: grid;
  grid-gap: 20px 5px;
  grid-template-columns: auto auto;
  align-items: center;
  background-color: oldlace;
}

.bigimage {
  padding: 50px;
  border-left: solid 3px white;
}

.nav-back {
  background-color: #afabab1f;
}

.image{
  width: auto;
  height: 300px;
}

.grid-container2 {
  display: grid;
  grid-gap: 20px 5px;
  grid-template-columns: auto auto auto;
  align-items: center;
  margin:25px auto 0 auto;

}
